:root {
  --kr-color-main-white: #212121;
  --kr-color-main-help-text: #6B6B6E;

  --kr-color-main-header: #212121;
  --kr-color-main-plain-text: #2D2D2D;

  --kr-color-main-light-divider: #E1E1E8;
  --kr-color-main-light-fill: #2D2D2D;

  --kr-color-main-field-border: #9D9DA1;
  --kr-color-main-divider: #D4D4D9;

  --kr-color-indicator-active: rgba(10, 112, 246, 0.12);
  --kr-color-indicator-error: rgba(210, 0, 4, 0.16);

  --kr-color-feedback-error-1: #3E1C1D;
  --kr-color-feedback-error-2: #FF6868;
  --kr-color-feedback-error-3: #F42F50;

  --kr-color-feedback-active: #0080FF;
  --kr-color-feedback-active-1: #0093FF;
  --kr-color-feedback-active-2: #4495FF;
  --kr-color-feedback-active-3: #0050C8;

  --kr-color-feedback-inactive: #75767A;

  --kr-color-layout-black-metallic: #333741;

  --kr-color-secondary-texture: #2C3038;
  --kr-color-secondary-base-orange: #FF7A00;
  --kr-color-secondary-warning: #F66E0A;

  --kr-color-accent-accent-1: #D93D2B;
  --kr-color-accent-accent-2: #FF5521;
  --kr-color-accent-accent-3: #F66E0A;
  --kr-color-accent-accent-4: #FFD3B5;
  --kr-color-accent-accent-5: #FFECE0;
}
