@mixin flex($alignItems: initial, $justifyContent: initial, $wrap: initial) {
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
	flex-wrap: $wrap;
}

@mixin container($maxWidth: 1280px, $padding: 0 8px) {
	width: 100%;
	max-width: $maxWidth;
	padding: $padding;
}

@mixin flexContainer($maxWidth: 1280px, $padding: 0 8px, $alignItems: initial, $justifyContent: initial, $wrap: initial) {
	@include container($maxWidth, $padding);
	@include flex($alignItems, $justifyContent, $wrap);
}