$baseFonts: Helvetica, Segoe UI, sans-serif;

@function fontFamily($name) {
  @return $name, $baseFonts;
}

@mixin declareKiraFont($fontName,
                        $fontFamily,
                        $fontStyle,
                        $fontWeight,
                        $fontSize,
                        $fontLineHeight,
                        $fontLetterSpacing: initial)
{
  :root {
    --kr-font-#{$fontName}-font-family: #{$fontFamily};
    --kr-font-#{$fontName}-font-style: #{$fontStyle};
    --kr-font-#{$fontName}-font-weight: #{$fontWeight};
    --kr-font-#{$fontName}-font-size: #{$fontSize};
    --kr-font-#{$fontName}-line-height: #{$fontLineHeight};
    --kr-font-#{$fontName}-letter-spacing: #{$fontLetterSpacing};
  }

  .kr-font-#{$fontName}
  {
    font-family: var(--kr-font-#{$fontName}-font-family);
    font-style: var(--kr-font-#{$fontName}-font-style);
    font-weight: var(--kr-font-#{$fontName}-font-weight);
    font-size: var(--kr-font-#{$fontName}-font-size);
    line-height: var(--kr-font-#{$fontName}-line-height);
    letter-spacing: var(--kr-font-#{$fontName}-letter-spacing);
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

@include declareKiraFont(
                m-h1,
                fontFamily(Raleway), normal, 700, 72px, 1.1em, 1.48px
);

@include declareKiraFont(
                m-h2,
                fontFamily(Raleway), normal, 700, 48px, 1.17em, 0.48px
);

@include declareKiraFont(
                m-h3,
                fontFamily(Raleway), normal, 700, 36px, 1.1em, 0.48px
);

@include declareKiraFont(
                m-h4,
                fontFamily(Raleway), normal, 700, 20px, 1.11em, 0.48px
);

@include declareKiraFont(
                m-h4-roboto,
                fontFamily(Roboto), normal, 500, 16px, 1.25em
);

@include declareKiraFont(
                m-navigation-1,
                fontFamily(Raleway), normal, 700, 18px, 1.33em, 0.32px
);

@include declareKiraFont(
                m-navigation-2,
                fontFamily(Raleway), normal, 700, 16px, 1.25em, 0.24px
);

@include declareKiraFont(
                m-body-1,
                fontFamily(Roboto), normal, 400, 20px, 1.6em
);

@include declareKiraFont(
                m-body-2,
                fontFamily(Roboto), normal, 400, 16px, 1.5em
);

@include declareKiraFont(
                m-body-3,
                fontFamily(Roboto), normal, 400, 14px, 1.5em
);

@include declareKiraFont(
                m-caption-1,
                fontFamily(Roboto), normal, 400, 14px, 1.43em, 0.16px
);

@include declareKiraFont(
                m-caption-2,
                fontFamily(Roboto), normal, 400, 12px, 1.33em, 0.16px
);

@include declareKiraFont(
                s-h1,
                fontFamily(Raleway), normal, 700, 48px, 1.17em, 1.48px
);

@include declareKiraFont(
                s-h2,
                fontFamily(Raleway), normal, 700, 28px, 1.36em, initial
);

@include declareKiraFont(
                s-h3,
                fontFamily(Raleway), normal, 700, 18px, 1.56em, 0.48px
);

@include declareKiraFont(
                s-navigation-1,
                fontFamily(Raleway), normal, 600, 16px, 1.5em, 0.56px
);

@include declareKiraFont(
                s-body-1,
                fontFamily(Roboto), normal, 400, 28px, 1.43em, initial
);

@include declareKiraFont(
                s-body-2,
                fontFamily(Roboto), normal, 400, 18px, 1.33em, initial
);

@include declareKiraFont(
                s-caption-1,
                fontFamily(Roboto), normal, 400, 16px, 1.5em, initial
);

@include declareKiraFont(
                s-caption-2,
                fontFamily(Roboto), normal, 400, 13px, 1.23em, 0.16px
);