@function interpolate-on-width($fromVal, $toVal, $minWidth, $maxWidth)
{
  @return calc(#{$toVal}px - (#{$maxWidth}px - 100vw) * ( (#{$toVal - $fromVal}) / (#{$maxWidth - $minWidth}) ));
}

@mixin interpolate($fromVal, $toVal, $minWidth, $maxWidth) {
    min-width: $fromVal;
    max-width: $toVal;
    width: interpolate-on-width($fromVal, $toVal, $minWidth, $maxWidth);
}