<style scoped lang="scss">
    @use "../stylesheets/helpers" as helpers;

    @import "../stylesheets/kira-fonts";

    .v-footer
    {
        position: relative;
        height: 88px;
        width: 100%;
    }

    .v-wrapper
    {
        position: absolute;
        left: 80px;
        right: 80px;
        height: 100%;

        &:before
        {
            position: absolute;
            width: 100%;
            left: 0;
            content: "";
            height: 1px;
            background: #2D2D2D;
        }
    }

    .v-text
    {
        /* Main/White */
        color: #FFFFFF;
        opacity: 0.7;
    }

    .v-copyright
    {
        position: absolute;
        top: 20px;
        left: 0;
    }

    .v-powered
    {
        position: absolute;
        top: 20px;
        right: 0;
    }

    .v-kira-logo
    {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);

        width: 44px;
        height: 44px;
    }

    @media (max-width: 1120px)
    {

        .v-footer
        {
            height: helpers.interpolate-on-width(96, 88, 414, 1120);
        }

        .v-wrapper
        {
            left: helpers.interpolate-on-width(24, 80, 414, 1120);
            right: helpers.interpolate-on-width(24, 80, 414, 1120);
        }
    }

    @media (max-width: 553px)
    {
        .v-text
        {
            width: 72px;
        }

        .v-copyright
        {
            text-align: left;
        }

        .v-powered
        {
            text-align: right;
        }
    }

    @media (max-width: 414px)
    {
        .v-footer
        {
            height: 96px;
        }

        .v-wrapper
        {
            left: 24px;
            right: 24px;
        }
    }
</style>

<template>
    <div class="v-footer">
        <div class="v-wrapper">
            <div class="v-copyright v-text kr-font-m-body-3">© 2021 ООО «4А»</div>
            <icon-kira-logo-component class="v-kira-logo" />
            <div class="v-powered v-text kr-font-m-body-3">Powered by kiRa</div>
        </div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    import IconComponent from './IconComponent';
    import IconLogoComponent from "./icons/IconLogoComponent";

    import IconKiraLogoComponent from "./icons/IconKiraLogoComponent";

    const Component = Options;
    @Component({
        components: {
            IconLogoComponent,
            IconComponent,
            IconKiraLogoComponent
        },
        props: {

        }
    })
    export default class FooterComponent extends Vue
    {
        year = new Date().getFullYear();
    }
</script>