<style scoped lang="scss">
    @import "../stylesheets/kira-fonts";

    .vc-invisible-button
    {
        border-radius: 8px;
        padding: 10px 15px;

        cursor: pointer;
        box-sizing: border-box;
        user-select: none;

        background: var(--kr-color-accent-accent-2);
        color: #fff;

        box-shadow: none;

        transition: color 0.2s ease-in-out,
                    background 0.2s ease-in-out,
                    opacity 0.2s ease-in-out,
                    box-shadow 0.2s ease-in-out;

        @include kiraFont(m-h4-roboto);

        &:hover
        {
            background: var(--kr-color-accent-accent-3);
        }

        &:active {
            background: var(--kr-color-accent-accent-1);
        }

        &:focus {
            box-shadow: 0px 0px 0px 3px rgba(246, 110, 10, 0.32);
        }

        &.disabled,
        &:disabled,
        &.inactive {
            background: var(--kr-color-main-field-border);
        }

    }
</style>

<template>
    <div class="vc-invisible-button kr-font-m-navigation-1">
        <slot></slot>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    const Component = Options;
    @Component({
        components: {
        },
        props: {
        }
    })
    export default class InvisibleButtonComponent extends Vue {

    }
</script>