<style scoped lang="scss">
    @import "../../stylesheets/kira-fonts";

    .v-map-static
    {
        position: absolute;
        contain: paint;

        width: 100%;
        height: 100%;
    }

    .v-map-stroke
    {
        position: absolute;
    }

    .v-map-1
    {
        width: #{100% * (1378% / 1389%)};
        height: #{100% * (674.16% / 686%)};
    }

    .v-map-2
    {
        width: #{100% * (1384% / 1389%)};
        height: #{100% * (680.16% / 686%)};
    }

    .v-map-3
    {
        width: #{100% * (1389% / 1389%)};
        height: #{100% * (685.16% / 686%)};
    }

    .v-point
    {
        position: absolute;

        width: #{100% * (170% / 1389%)};
        height: #{100% * (170% / 686%)};

        top: #{100% * (546% / 686%)};
        left: #{100% * (628% / 1389%)};

        transform: translate(-50%, -50%);
    }

    .v-interact-point
    {
        position: absolute;

        width: #{100% * (75% / 1389%)};
        height: #{100% * (75% / 686%)};

        top: #{100% * (546% / 686%)};
        left: #{100% * (628% / 1389%)};

        transform: translate(-50%, -50%);

        cursor: pointer;
    }

    .v-open-yandex-map-button
    {
        position: absolute;

        top: #{100% * (546% / 686%)};
        left: #{100% * (628% / 1389%)};

        transform: translate(-50%, calc(-100% - 24px)) scale(1);

        display: grid;

        .v-triangle
        {
            display: block;
            position: relative;
            width: 48px;
            height: 24px;

            left: 50%;

            transform: translate(-50%, -1px);
        }

        .v-content
        {
            padding: 12px 24px;

            background: #212121;
            border-radius: 36px;

            @include kiraFont(m-navigation-1);

            color: #F3F3F6;
        }

        .v-text
        {
            display: inline-block;
            vertical-align: middle;

            margin-right: 8px;
        }

        .v-icon-link
        {
            display: inline-block;
            vertical-align: middle;

            width: 24px;
            height: 24px;
        }
    }

    .circle-main {
        animation: rect-scale-anim 2.2s ease-out infinite;
    }
    @keyframes rect-scale-anim {
        0% {
            r:12px;
            fill-opacity:0;
        }
        20% {
            r:18px;
            fill-opacity:.9;
        }
        40% {
            r:12px;
            fill-opacity:0;
        }
        100% {
            r:12px;
            fill-opacity:0;
        }
    }
    .circle-second {
        animation: sec-rec-scale-anim 2.2s ease-out infinite;
    }
    @keyframes sec-rec-scale-anim {
        0% {
            r:12px;
            stroke-opacity:0;
        }
        30% {
            stroke-opacity:.7;
        }
        50% {
            r:22px;
            stroke-opacity:0
        }
        100% {
            r:40px;
            stroke-opacity:0
        }
    }
    .circle-third {
        animation: thrd-rec-scale-anim 2.2s ease-out infinite;
    }
    @keyframes thrd-rec-scale-anim {
        0% {
            r:12px;
            stroke-opacity:0;
        }
        35% {
            stroke-opacity:.4;
        }
        55% {
            r:32px;
            stroke-opacity:0
        }
        100% {
            r:40px;
            stroke-opacity:0
        }
    }

    .fade-yandex-tooltip-enter-active,
    .fade-yandex-tooltip-leave-active
    {
        transition: transform .3s cubic-bezier(0.36, 0.83, 0.48, 0.99);
    }

    .fade-yandex-tooltip-enter-active
    {
        pointer-events: none;
    }

    .fade-yandex-tooltip-enter-from,
    .fade-yandex-tooltip-leave-to
    {
        transform: translate(-50%, calc(-50% - 24px)) scale(0);
    }

    @media (max-width: 1120px) {
        .v-open-yandex-map-button
        {
            .v-content
            {
                @include kiraFont(s-navigation-1);
            }
        }
    }
</style>

<template>
    <div>
        <div class="v-map-static">
            <icon-contacts-map-stroke-component class="v-map-stroke v-map-1" />
            <icon-contacts-map-stroke-component class="v-map-stroke v-map-2" :opacity="0.3" :width="1.5" />
            <icon-contacts-map-stroke-component class="v-map-stroke v-map-3" :opacity="0.15" :width="1" />
        </div>
        <svg class="v-point" viewBox="0 0 170 170" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-main" cx="85" cy="85" r="12" fill="white" fill-opacity="0.32" stroke="white" stroke-opacity="0.8" stroke-width="2"/>
            <circle class="circle-second" cx="85" cy="85" r="22" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
            <circle class="circle-third" cx="85" cy="85" r="32" stroke="white" stroke-opacity="0.3"/>
        </svg>
        <transition name="fade-yandex-tooltip">
            <div v-if="showYandexTooltip" class="v-open-yandex-map-button">
                <a :style="{ 'pointer-events': !touchOnPoint ? 'none' : undefined }" target="_blank" rel="noreferrer" href="https://yandex.ru/maps/76/khabarovsk/house/ulitsa_dzerzhinskogo_65/ZUoDaAdmSk0CXEJua2J1dnRkYAA=/?ll=135.063850%2C48.478748&z=17.08https://yandex.ru/maps/76/khabarovsk/house/ulitsa_dzerzhinskogo_65/ZUoDaAdmSk0CXEJua2J1dnRkYAA=/?ll=135.063850%2C48.478748&z=17.08" class="v-content"><div class="v-text">Компания в Яндекс.Картах </div><icon-link-component class="v-icon-link"/></a>
                <svg class="v-triangle" viewBox="0 0 48 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M48 0C24 0 24 24 24 24C24 24 24 0 0 0H48Z" fill="#212121"/>
                </svg>
            </div>
        </transition>
        <div
             @mouseenter="mouseEnterPoint"
             @mouseleave="mouseLeavePoint"
             @mouseup="mouseUpPoint"
             @touchstart="touchStartPoint"
             class="v-interact-point"></div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import IconContactsMapStrokeComponent from "./IconContactsMapStrokeComponent";
    import IconLinkComponent from "./IconLinkComponent";

    const Component = Options;
    @Component({
        components: {
            IconContactsMapStrokeComponent,
            IconLinkComponent
        },
        props: {

        }
    })
    export default class IconContactsMapComponent extends Vue {

        showYandexTooltip = false;
        touchOnPoint = false;

        mouseEnterPoint()
        {
            this.showYandexTooltip = true;
        }

        mouseLeavePoint()
        {
            this.showYandexTooltip = false;
            this.touchOnPoint = false;
        }

        mouseUpPoint(e)
        {
            if(!this.touchOnPoint)
            {
                window.open('https://yandex.ru/maps/76/khabarovsk/house/ulitsa_dzerzhinskogo_65/ZUoDaAdmSk0CXEJua2J1dnRkYAA=/?ll=135.063850%2C48.478748&z=17.08','_blank');
            }
        }

        touchStartPoint()
        {
            this.touchOnPoint = true;
        }


        beforeUnmount()
        {
        }
    }
</script>